CrankIt.xcodeproj/project.xcworkspace/xcuserdata/marniewebb.xcuserdatad/UserInterfaceState.xcuserstate
CrankIt.xcodeproj/xcuserdata/marniewebb.xcuserdatad/xcschemes/xcschememanagement.plist
CrankIt.xcodeproj/project.xcworkspace/xcuserdata/marniewebb.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
